/*
 * Arquivo Css gerado por Ivair Izidoro
**/

/* Configuraçoes das tags HTML */

*{
   	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
   background-image: url(../img/bg_city1.jpg);
   background-size: auto;   
}


td{  width: 100%; }

h1{
	height: 100px;
	font-family: Lobster,cursive, sans-serif;
    font-size: 60px;
    text-align: center;
	width: 100%;
	display: block;
	float: left;
    color: white;
    text-shadow: 2px 2px 6px #C379B0;
}

h2{
    font-family: 'Prosto One', Bangers, sans-serif, cursive;
    margin-top:  10px;
    height: 70px;
    width: 100%;
}
.panel-heading{
    height: 70px;
}
.panel{
    background: #5E1C58;
    box-shadow: 1px 1px 2px #CCC;
}


/*  Aparencia dos Botoes  */

.btn-success{
    width: 90px;
    height: 30px;
    margin-left: 10px;
    background-color: #006400;
	color: white;
}
.btn-success:hover{
    height: 30px;
    border-radius: 3px;
    background-color: #98FB98;
	text-shadow: 2px 2px 2px black;
}

.btn-warning{
    width: 90px;
    height: 30px;
    margin-left: 2px;
    background-color: #FF0000;
	color: white;
}

.btn-warning:hover{
    height: 30px;
    border-radius: 3px;
    background-color: #FFA07A;
	text-shadow: 2px 2px 2px black;
}

.btn-default{ height: 41px; }

/* configurações do formTarefa */

.formTarefa{
    height: 160px;
   
    
}

.formTarefa label{
    margin-top: -24px;
    color: white;
    text-shadow: 2px 1px 4px #C379B0;
    font-family:  Lobster, Nunito, sans-serif, cursive;
    font-size: 40px;
    
}

.formTarefa input[type='text'] {
    font-family: Nunito, sans-serif, cursive;
    font-size: 22px;
    border-radius: 3px;
    margin-left: 10px;
}

.formTarefa input[type='submit']{
    font-family: Nunito, sans-serif, cursive;
    font-size: 22px;
    border-radius: 3px;
    width: 15%;
}

/*
 * Configuração do panel body2 
*/

.panel-body2{
    font-family: Nunito, sans-serif, cursive;
    font-size: 15px;
    background: white;
}
